.button {
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-big-large);
  font-weight: var(--button-font-weight);
  outline: none;
  overflow: hidden;
  padding: 0 var(--spacing-semi);
  position: relative;
  text-align: center;
}

.button.fullWidth {
  width: 100%;
}

.button.withIcon {
  align-items: center;
  display: flex;
  gap: var(--spacing-tiny);
  justify-content: center;
}

.button.withIcon.onlyIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.button .icon {
  display: flex;
  margin-top: -2px;
}

.button.onlyIcon .icon {
  margin-top: 0;
}

/* --- Sizes --- */

.button.tiny {
  height: var(--button-height-tiny);
  line-height: var(--button-height-tiny);
}

.button.small {
  height: var(--button-height-small);
  line-height: var(--button-height-small);
}

.button.medium {
  height: var(--button-height-normal);
  line-height: var(--button-height-normal);
}

.button.puffy {
  height: var(--button-height-puffy);
  line-height: var(--button-height-puffy);
}

.button.huge {
  height: var(--button-height-huge);
  line-height: var(--button-height-huge);
}

.button.big {
  height: var(--button-height-big);
  line-height: var(--button-height-big);
}

/* --- Sizes behaivor when button has only icon --- */

.button.tiny.onlyIcon {
  width: var(--button-height-tiny);
}

.button.small.onlyIcon {
  width: var(--button-height-small);
}

.button.normal.onlyIcon {
  width: var(--button-height-normal);
}

.button.puffy.onlyIcon {
  width: var(--button-height-puffy);
}

.button.huge.onlyIcon {
  width: var(--button-height-huge);
}

.button.big.onlyIcon {
  width: var(--button-height-big);
}


/* --- Primary variant --- */
.button.primary {
  background: var(--button-primary-background-color);
  box-shadow: var(--button-primary-shadow);
  color: var(--button-primary-text-color);
}

.button.primary:disabled {
  opacity: var(--button-primary-disabled-opacity);
}

/* --- Secondary variant --- */
.button.secondary {
  background: var(--button-secondary-background-color);
  color: var(--button-secondary-text-color);
}

/* --- Tertiary variant --- */
.button.tertiary {
  background-color: var(--button-tertiary-background-color);
  color: var(--button-tertiary-text-color);
  padding: 0;
} 

/* --- link variant --- */
.button.link {
  background: none;
  border: 0;
  border-radius: 0;
  font-size: var(--button-link-font-size);
  font-weight: var(--font-weight-medium);
  padding: 1px 0;
}

.button.link.action {
  color: var(--button-link-text-color-role-action);
}

.button.link.quiet {
  color: var(--button-link-text-color-role-quiet);
  font-size: var(--button-link-quiet-font-size);
  text-decoration: underline;
}
