.heading {
  color: var(--text-color);
  text-align: left;
}

.heading.centerText {
  text-align: center;
}

.heading.font-subheadline {
  font-size: var(--heading-font-size-subheadline);
}

.heading.font-headline {
  font-size: var(--heading-font-size-headline);
}

.heading.font-title3 {
  font-size: var(--heading-font-size-title3);
  line-height: 28px;
}

.heading.font-title2 {
  font-size: var(--heading-font-size-title2);
  line-height: 2rem;
}

.heading.font-title1 {
  font-size: var(--heading-font-size-title1);
}

.heading.font-large-title {
  font-size: var(--heading-font-size-large-title);
}

.heading.font-bigtitle3 {
  font-size: var(--heading-font-size-bigtitle3);
}

.heading.font-bigtitle2 {
  font-size: var(--heading-font-size-bigtitle2);
}

.heading.light {
  font-weight: var(--heading-weight-light);
}

.heading.regular {
  font-weight: var(--heading-weight-regular);
}

.heading.medium {
  font-weight: var(--heading-weight-medium);
}

.heading.semibold {
  font-weight: var(--heading-weight-semibold);
}

.heading.bold {
  font-weight: var(--heading-weight-bold);
}

.heading.extrabold {
  font-weight: var(--heading-weight-extrabold);
}

/* --- Colors ---  */

.heading.text-color-white {
  color: var(--text-color-light);
}


