.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  color: black;
  position: relative;
  border-bottom: 1px solid #444;

  .lupa {
    width: 24px; /* Tamaño del círculo de la lupa */
    height: 24px; /* Tamaño del círculo de la lupa */
    border: 3px solid black; /* Color y grosor del borde */
    border-radius: 50%; /* Hace que sea un círculo */
    position: relative;
  }
  
  .menu-icon {
    background: none;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .dropdown-menu {
      position: fixed; 
      top: 0;
      right: 0; 
      width: 75vw; 
      height: 100vh; 
      background-color: white;
      box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2); 
      padding: 1rem;
      border-radius: 0 0 0 8px; 
      display: flex;
      flex-direction: column;
      z-index: 1000; 
    
      a {
          color: black;
          text-decoration: none;
          padding: 0.5rem 1.5rem; 
          border-bottom: 1px solid #666; 
          font-size: 1.5rem;
          
          &:last-of-type {
            border-bottom: none;
          }
    
          &:hover {
            background-color: #555;
          }
        }

      .close-icon {
          align-self: flex-start;
          background: none;
          border: none;
          color: black;
          font-size: 2.5rem;
          cursor: pointer;
          margin-bottom: 0rem;
        }
    }
    
}
